/* css reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* generics */

body {
    font-family: Arial, Helvetica, sans-serif;
}
 
.flex {
    display: flex;
}

/* Header */

header {
    background-color: #ADD8E6;
    background-image: url(../img/jumbo.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
}

.info-container {
    margin: 0 auto;
    max-width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-size: 15px;
}

ol {
    display: flex;
    list-style-type: none;
    gap: 60px;
    color: white;
}

.login {
    color: black;
    text-decoration: none;
    background-color: white;
    padding: 8px;
    border-radius: 20px;
}

/* Header content */

.download-container {
    margin: 0 auto;
    width: 40%;
    text-align: center;
    min-height: 300px;
    color: white;
}

h1 {
    margin: 50px;
    font-size: 50px;
}

p {
    font-size: 20px;
    text-align: center;
    line-height: 1.5;
    margin-bottom: 30px;
}

/* Header buttons */

a {
    text-decoration: none;
    padding: 15px 20px;
    margin: 0px 20px;
    border-radius: 30px;
}

.btn-light {
    color: black;
    background-color: white;
}

.btn-dark {
    color: white;
    background-color: rgb(37, 37, 37);
}


.ctn-first{
    min-height: 400px;
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ctn-second{
    min-height: 400px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.big-column{
    flex-basis: 40%;
    height: 300px;
    background-color: lightblue;
    border: 1px solid black;
}
.small-column{
    flex-basis: 30%;
    height: 300px;
    background-color: lightpink;
    border: 1px solid black;
}

.main-footer {
    background-color: lightgrey;
    min-height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.p-footer {
    background-color: green;
    flex-basis: 70%;
    min-height: 600px;
    border: 1px solid black; 
}

.column-footer{
    background-color: rgb(48, 48, 48);
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2px;
}

.footer-container {
    background-color: rgb(48, 48, 48);
    min-height: 100px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.buttons-container {
    background-color: #7FFFD4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    align-items: center;
    height: 60px;
  }




    
  
