/* css reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* generics */

body {
    font-family: Arial, Helvetica, sans-serif;
}
 
.flex {
    display: flex;
}

.h-100 {
    height: 100%;
}

/* Header */

header {
    background-color: #ADD8E6;
    background-image: url(../img/jumbo.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
}

.info-container {
    margin: 0 auto;
    max-width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-size: 15px;
}

ol {
    display: flex;
    list-style-type: none;
    gap: 60px;
    color: white;
}

.login {
    color: black;
    text-decoration: none;
    background-color: white;
    padding: 8px;
    border-radius: 20px;
}

/* Header content */

.download-container {
    margin: 0 auto;
    width: 40%;
    text-align: center;
    min-height: 300px;
    color: white;
}

h1 {
    margin: 50px;
    font-size: 50px;
}

p {
    font-size: 20px;
    text-align: center;
    line-height: 1.5;
    margin-bottom: 30px;
}

/* Header buttons */

a {
    text-decoration: none;
    padding: 15px 20px;
    margin: 0px 20px;
    border-radius: 30px;
}

.btn-light {
    color: black;
    background-color: white;
}

.btn-lightblue {
    color: white;
    background-color: #8EA1E1;
}

.btn-dark {
    color: white;
    background-color: rgb(37, 37, 37);
}



/* Main */

.bg-white {
    background-color: white;
    min-height: 600px;
    padding: 60px;
}

.bg-grey {
    background-color: lightgray;
    min-height: 600px;
    padding: 60px;
}

.container {
    margin: 0 auto;
    max-width: 60%;
}


.big-col {
   flex-basis: 60%;
}
   
.small-col {
    flex-basis: 40%;
    padding: 30px;

}

h2 {
    font-size: 40px;
    margin-bottom: 20px;
}

.main-p {
    font-size: 18px;
    text-align: left;
}

.full-col {
    width: 100%;
    text-align: center;
}

h3 {
    font-size: 24px;
    padding: 7px;
    margin: 30px;
    background-image: url(../img/stars.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}


/* Footer */

footer {
    padding: 50px 0;
    background-color: #23272A;
}

.footer-top {
    height: 500px;
    padding-bottom: 10px;
    border-bottom: 1px solid #303030;
    margin-top: 50px;
}

.footer-left {
    flex-basis: 30%;
}

.footer-right {
    flex-basis: 70%;
}

h4 {
    font-size: 30px;
    color: #8EA1E1;
    margin-bottom: 40px;
}

h5 {
    font-size: 16px;
    color: #8EA1E1;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
}

li {
    color: white;
    margin-bottom: 20px;
}

.footer-nav > * {
    flex-basis: 25%;
}

.footer-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.Registration {
    color: white;
    text-decoration: none;
    background-color: #8EA1E1;
    padding: 10px;
    border-radius: 20px;
    font-size: 13px;
}

#ita {
    width: 30px;
    height: 20px;
}

span {
    padding: 10px;
    color:white;
}

.logos {
    margin-top: 20px;
    gap: 30px;
    color: white;
}

 
  
